{% extends "base.html" %}

{% block content %}

<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="/assets/img/breadcumb/breadcumb-bg.png">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Выкуп часов</h1>
            <p class="breadcumb-text">Часовой бутик с безупречной репутацией.</p>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'main:index' %}">Главная</a></li>
                    <li>Выкуп часов</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--==============================
  Blog Area
==============================-->
<section class="vs-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row gx-40">
            <div class="col-lg-12">
                <div class="vs-blog blog-single">
                    <div class="blog-content">
                        <h2 class="blog-title">Из чего складывается оценка элитных часов?</h2>
                        <p>Оценка часов чаще всего требуется в случае их продажи или для получения ссуды под залог. Объективная оценка элитных часов даёт возможность узнать их цену. Наши специалисты обладают большим опытом в проведении оценочных экспертиз. Клиенты бутика «YellowWatch» могут быть уверены в их профессионализме.</p>
                        <div class="row my-3">
                            <div class="col-xl-7">
                                <p>Оценщик хорошо знает по каким критериям можно определить время использования часов, их стоимость на рынке. Однако, клиенты иногда задают вопросы о том, на что именно обращают внимание специалисты. Для дорогих фирменных часов существенными факторами являются:</p>
                                <div class="list-style1 vs-list  mb-30">
                                    <ul>
                                        <li>Конкретный бренд и его ассортимент часов</li>
                                        <li>Годы, когда часы были произведены и куплены</li>
                                        <li>Документация и упаковка, сохранившиеся для часов</li>
                                        <li>Уровень сложности технологий, использованных в часах</li>
                                        <li>Использованные материалы, включая металлы и драгоценные камни</li>
                                        <li>Состояние внешнего вида и механизма часов</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="blog-inner-img">
                                            <img class="w-100" src="/assets/img/blog/blog-s-1-2.jpg" alt="Blog Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Для владельцев элитных швейцарских часов мы всегда готовы предложить самые выгодные цены и сроки выкупа. Для большего комфорта клиентов нами было принято решение внедрить в деятельность такую услугу, как онлайн-оценка часов. Она пригодится в том случае, если есть необходимость узнать примерную стоимость еще до приезда в офис. Чтобы воспользоваться ею, достаточно просто отправить на электронную почту или в форме на сайте фото часов и в течение 10-15 минут вам перезвонят и сообщат сумму, за которую вы можете продать брендовые часы.</p>
                        <p>Отдельно стоит отметить и тот факт, что окончательная цена устанавливается квалифицированными оценщиками. Только наличие должного опыта работы и навыков позволяет говорить о справедливости, предлагаемой за часовой механизм суммы.</p>
                        <p>Скупку швейцарских брендовых часов обязательно сопровождает юрист, работающий в штате компании и прекрасно разбирающейся во всех тонкостях современного законодательства. Благодаря этой особенности клиенты получают максимальную уверенность в том, что все происходит в рамках закона. Как и в банковской сфере, в нашем ломбарде превыше всего ставится конфиденциальность сделки.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" data-wow-delay="0.4s">
            <div class="position-relative">
                {% include "forms/extend_buyback_form.html" %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}