{% extends "base.html" %}

{% block content %}

<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="/assets/img/breadcumb/breadcumb-bg-3.jpg">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Результаты поиска</h1>
            <p class="breadcumb-text">Часовой бутик с безупречной репутацией.</p>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'main:index' %}">Главная</a></li>
                    <li>Результаты поиска</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--==============================
  Course Area
==============================-->
<section class="space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            {% for watch in watches.qs %}
                {% include "includes/watches_list_card.html" %}
            {% endfor %}
        </div>
        {% include "includes/pagination.html" %}
    </div>
</section>

{% endblock content %}
