{% extends "base.html" %}

{% block content %}

<section class="course-details space-top space-extra-bottom">
    <div class="container">
        <div class="row gx-50">
            <div class="col-lg-6">
                {% if watch.image %}
                    <div class="mega-hover image-container-3"><img style="max-width: 610; max-height: 442;" src="{{ watch.image.url }}" alt="watches"></div>
                {% else %}
                    <div class="mega-hover image-container-3"><img style="max-width: 610; max-height: 442;" src="/assets/img/course/course-1-1.png" alt="watches"></div>
                {% endif %}
                <div class="course-category">
                    <a>{{ watch.condition.title }}</a>
                    {% if watch.special %}
                        <a>{{ watch.special }}</a>
                    {% endif %}
                </div>
                <h2 class="course-title">{{ watch.title }}</h2>
                <div class="course-review">{{ watch.availability }}<br>Референс: {{ watch.reference }}</div>
                <div class="row justify-content-between align-items-center gy-4">
                    <div class="col-auto">
                        <div class="course-price"><span class="currency">₽ </span>{{ watch.price }}<br></div>
                        <div class="course-price"><span class="currency">$ </span>{{ watch.get_converted_price }}</div>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="vs-btn" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="fas fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;Интересует</button>
                    </div>
                </div>
                <h5 class="border-title2 space-extra-top">Для приобретения часов необходимо:</h5>
                <div class="list-style1 vs-list">
                    <ul>
                        <li>уточнить у менеджера наличие</li>
                        <li>согласовать время визита</li>
                        <li>выбрать модели которые хотите увидеть</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-lg-auto">
                <div class="table-style3">
                    <h5 class="border-title2">Характеристики</h5>
                    <table>
                        <tbody>
                            {% for key, value in data %}
                                <tr>
                                    <td>{{ key }}:</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
