{% extends "base.html" %}

{% block content %}

<section class="course-details space-top space-extra-bottom">
    <div class="container">
        <div class="row flex-row-reverse gx-50">
            <div class="col-lg-6 col-lg-auto">
                <div class="table-style3">
                    <h5 class="border-title2">Характеристики</h5>
                    <table>
                        <tbody>
                            <tr>
                                <td>Date:</td>
                                <td>Saturday 25th March</td>
                            </tr>
                            <tr>
                                <td>Time:</td>
                                <td>09:00 AM - 05:00 PM</td>
                            </tr>
                            <tr>
                                <td>Topic:</td>
                                <td>Regional Competition</td>
                            </tr>
                            <tr>
                                <td>Cost:</td>
                                <td>£60 per Student</td>
                            </tr>
                            <tr>
                                <td>Organiser:</td>
                                <td>Thomas Walkar</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td><a href="mailto:user@domain.com">user@domain.com</a></td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td><a href="tel:01142480357">0114 248 0357</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="course-meta">
                    <h5 class="border-title2">Описание</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali quip ex ea commodo consequat.</p>
            
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mega-hover course-img"><img src="assets/img/course/course-details-1.jpg" alt="girl"></div>
                <div class="course-category">
                    <a href="course.html">Advance learning</a>
                </div>
                <h2 class="course-title">Naturally & Safely Boost Testosterone</h2>
                <div class="course-review"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>( 5.0 )</div>
                <div class="course-meta">
                    <div class="meta-item">
                        <i class="far fa-hourglass"></i>
                        <span class="meta-title">Duration:</span>
                        <p class="meta-text">4 weeks</p>
                    </div>
                    <div class="meta-item">
                        <i class="far fa-clock"></i>
                        <span class="meta-title">Weekly Study:</span>
                        <p class="meta-text">11 Hours</p>
                    </div>
                    <div class="meta-item">
                        <i class="far fa-user-alt"></i>
                        <span class="meta-title">Student:</span>
                        <p class="meta-text">204 Students</p>
                    </div>
                    <div class="meta-item">
                        <i class="far fa-suitcase"></i>
                        <span class="meta-title">Course Type:</span>
                        <p class="meta-text">100% online</p>
                    </div>
                </div>
                <div class="row justify-content-between align-items-center gy-4">
                    <div class="col-auto">
                        <div class="course-price"><span class="currency">$</span>180<small>/month</small></div>
                    </div>
                    <div class="col-auto">
                        <a class="vs-btn" href="contact.html">Join Course</a>
                    </div>
                </div>
                {% comment %} <h5 class="border-title2">Overview</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali quip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui offic ia deserunt mollit anim id est laborums nisi ut aliquip ex ea commosi ut aliquip ex ea commodo cons magna aliqua. Ut enim ad minim veniam equatdo.</p>
                <h5>Reading on English language learners</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali quip ex ea commodo consequat.</p>
                <h5>Benefit your learners’ entire reading journey</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor e et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo a onsequat. Duis aute irure dolor in reprehenderit in voluptdolore eu fugiat. minim veniam, quis nostrud exercit.</p>
                <div class="list-style1 vs-list">
                    <ul>
                        <li>Steady stream of new students</li>
                        <li>Smart calendar</li>
                        <li>Interactive classroom</li>
                        <li>Convenient payment methods</li>
                        <li>Professional development webinars</li>
                    </ul>
                </div>
                <div class="inner-video-box">
                    <img src="assets/img/course/course-details-2.jpg" alt="blog video">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn position-center popup-video"><i class="fas fa-play"></i></a>
                </div>
                <h5 class="border-title2">Syllabus</h5>

                <div class="accordion accordion-style4" id="faqVersion2">
                    <div class="accordion-item active">
                        <div class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="button-label">Week 1</span>
                                Getting started with Extensive Reading
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqVersion2">

                            <div class="accordion-body">
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-1.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Introduction</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-2.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">What do you understand by Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Why Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Incorporating Extensive Reading</h6>
                                        <p class="syllabustext">lit esse cillum dolore eu ferit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="button-label">Week 2</span>
                                Practical pre-reading activities with graded readers
                            </button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqVersion2">

                            <div class="accordion-body">
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-1.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Introduction</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-2.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">What do you understand by Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Why Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Incorporating Extensive Reading</h6>
                                        <p class="syllabustext">lit esse cillum dolore eu ferit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="button-label">Week 3</span>
                                Activities with graded readers
                            </button>
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqVersion2">

                            <div class="accordion-body">
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-1.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Introduction</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-2.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">What do you understand by Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Why Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Incorporating Extensive Reading</h6>
                                        <p class="syllabustext">lit esse cillum dolore eu ferit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <span class="button-label">Week 4</span>
                                Practical post-reading
                            </button>
                        </div>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqVersion2">

                            <div class="accordion-body">
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-1.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Introduction</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-img"><img src="assets/img/course/course-syllabus-2.jpg" alt=""></div>
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">What do you understand by Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Why Extensive Reading?</h6>
                                        <p class="syllabustext">Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                                <div class="syllabus-list">
                                    <div class="syllabus-content">
                                        <h6 class="syllabustitle">Incorporating Extensive Reading</h6>
                                        <p class="syllabustext">lit esse cillum dolore eu ferit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Ex cepteur sint upidatat non illum dolore eu fugiat proident.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="border-title2">When would you like to start?</h5>
                <p>Start straight away and join a global classroom of learners. If the course hasn’t started yet you’ll see the future date listed below.</p>
                <a href="contact.html" class="vs-btn">Join Today</a>
                <span class="available-badge">Available now</span>
                <div class="mt-4 pt-lg-2">
                    <h5 class="border-title2">What will you achieve?</h5>
                    <div class="list-style1 vs-list">
                        <ul>
                            <li>Apply extensive reading in the classroom to help students learn English more effectively.</li>
                            <li>Integrate extensive reading into a school learning programme.</li>
                            <li>Identify practical pre-reading activities to get students interested in their graded readers.</li>
                            <li>Identify practical while-reading activities to use with students.</li>
                            <li>Identify practical post-reading activities to use with students.</li>
                        </ul>
                    </div>
                </div>
                <h5 class="border-title2">Who will you learn with?</h5> {% endcomment %}
            </div>
            {% comment %} <div class="col-lg-4 pt-4 pt-lg-0">
                <aside>
                    <div class="widget   ">
                        <h3 class="widget_title">Academic Courses</h3>
                        <div class="course-list">
                            <ul>
                                <li><a href="course-details.html"><i class="fal fa-book"></i>2023 Face to Face Courses</a></li>
                                <li><a href="course-details.html"><i class="fal fa-book"></i>Introduction to Computer</a></li>
                                <li><a href="course-details.html"><i class="fal fa-book"></i>Erasmus Funding course</a></li>
                                <li><a href="course-details.html"><i class="fal fa-book"></i>Networking for Teachers</a></li>
                                <li><a href="course-details.html"><i class="fal fa-book"></i>Naturally &amp; Safely Boost</a></li>
                                <li><a href="course-details.html"><i class="fal fa-book"></i>Introduction to Computer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-lg-12">
                            <div class="img-box5 mega-hover wow fadeInUp" data-wow-delay="0.3s">
                                <div class="img-1"><img class="w-100" src="assets/img/about/about-2-4.jpg" alt="About Img"></div>
                                <div class="box-content">
                                    <h3 class="img-title">Online Course Registration</h3>
                                    <p class="img-text">Top 20 courses among our 1350+ free online courses by experts</p>
                                    <a href="contact.html" class="vs-btn">Apply Today</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-12">
                            <div class="media-style5 wow fadeInUp" data-wow-delay="0.4s">
                                <span class="icon"><i class="fas fa-user-headset"></i></span>
                                <h5 class="media-title">Admission Process</h5>
                                <a class="phone" href="+8156415000"><i class="fal fa-phone-alt"></i>815-641-5000</a>
                                <a class="mail" href="mailto:support@example.com"><i class="fal fa-envelope"></i>support@example.com</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div> {% endcomment %}
        </div>
    </div>
</section>

{% endblock content %}
