{% extends "base.html" %}

{% block content %}

<section class="course-details space-top space-extra-bottom">
    <div class="container">
        <div class="row flex-row-reverse gx-50">
            <div class="col-lg-6 col-lg-auto">
                <div class="table-style3">
                    <h5 class="border-title2">Характеристики</h5>
                    <table>
                        <tbody>
                            <tr>
                                <td>Тип:</td>
                                <td>Классические</td>
                            </tr>
                            <tr>
                                <td>Материал корпуса:</td>
                                <td>18-к Желтое золото</td>
                            </tr>
                            <tr>
                                <td>Водонепроницаемость:</td>
                                <td>100 м</td>
                            </tr>
                            <tr>
                                <td>Диаметр корпуса:</td>
                                <td>40 мм</td>
                            </tr>
                            <tr>
                                <td>Цвет циферблата:</td>
                                <td>Леопардовый мотив с золотистым, 8 белых бриллантов</td>
                            </tr>
                            <tr>
                                <td>Безель:</td>
                                <td>Часы инкрустированы бриллиантами и сапфирами</td>
                            </tr>
                            <tr>
                                <td>Тип механизма:</td>
                                <td>Автоматический</td>
                            </tr>
                            <tr>
                                <td>Функции:</td>
                                <td>Часы, минуты, секунды</td>
                            </tr>
                            <tr>
                                <td>Материал ремешка:</td>
                                <td>Кожаный</td>
                            </tr>
                            <tr>
                                <td>Комплектация:</td>
                                <td>полный комплект</td>
                            </tr>
                            <tr>
                                <td>Состояние:</td>
                                <td>74.000 $, хорошее состояние</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mega-hover course-img"><img src="assets/img/course/course-details-1.jpg" alt="girl"></div>
                <div class="course-category">
                    <a href="course.html">Новая модель</a>
                </div>
                <h2 class="course-title">OYSTER DAYTONA SPECIAL EDITION LEOPARD</h2>
                <div class="course-review">В наличии<br>Референс: 116598SACO</div>
                <div class="row justify-content-between align-items-center gy-4">
                    <div class="col-auto">
                        <div class="course-price"><span class="currency">$</span>74.000</div>
                    </div>
                    <div class="col-auto">
                        <a class="vs-btn" href="contact.html">Интересует</a>
                    </div>
                </div>
                <h5 class="border-title2 space-extra-top">Для приобретения часов необходимо:</h5>
                <div class="list-style1 vs-list">
                    <ul>
                        <li>уточнить у менеджера наличие</li>
                        <li>согласовать время визита</li>
                        <li>выбрать модели которые хотите увидеть</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
