{% extends "base.html" %}

{% block content %}

<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="/assets/img/breadcumb/breadcumb-bg-3.webp">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'main:index' %}">Главная</a></li>
                    <li>Продажа часов</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--==============================
  Course Area
==============================-->
<section class=" space-top space-extra-bottom">
    <div class="container">
        <div class="filter-button-container">
            <button class="vs-btn" style="margin-bottom: 60px;" id="menu-toggle" aria-label="Открыть меню">Фильтры</button>
        </div>
        <div id="sidebar">
            <div class="close-btn">
                <button aria-label="Закрыть меню"><i class="fal fa-times"></i></button>
            </div>
            <form method="get" class="form-style2">
                {{ filters.form.as_p }}
                <button type="submit" class="vs-btn">Применить</button>
                <a href="{% url 'main:watches' %}" class="vs-btn" aria-label="Сбросить фильтры">Сбросить</a>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-2">
                <form method="get" class="form-style2">
                    {{ filters.form.as_p }}
                    <button type="submit" class="vs-btn">Применить</button>
                    <a href={% url "main:watches" %} class="vs-btn" aria-label="Сбросить фильтры">Сбросить</a>
                </form>
            </div>
            <div class="col-lg-10 col-xl-10 mb-lg-0">
                <div class="row">
                    {% for watch in page_obj %}
                        {% include "includes/watches_list_card.html" %}
                    {% endfor %}
                </div>
                {% include "includes/pagination.html" %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}
