<footer class="footer-wrapper footer-layout3">
    <div class="shape-mockup jump d-none d-xl-block" data-left="-270px" data-bottom="-60px">
        <div class="vs-border-circle"></div>
    </div>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 text-center text-lg-start">
                    <div class="widget footer-widget">
                        <div class="footer-logo mx-auto mx-lg-0"> <a href="{% url 'main:index' %}"><img src="/assets/img/logo.svg" alt="logo"></a> </div>
                        <p>&nbsp;</p>
                        <div class="vs-widget-about">
                            <p class="footer-info"><i class="fal fa-phone-alt"></i><a class="text-inherit" href="tel:+79608889293">+7 (960) 888-92-93</a></p>
                            <p class="footer-info"><i class="fal fa-envelope"></i><a class="text-inherit" href="mailto:yellow.watch24@gmail.com">yellow.watch24@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget nav_menu footer-widget">
                        <h3 class="widget_title">Разделы сайта</h3>
                        <div class="menu-all-pages-container footer-menu">
                            <ul class="menu">
                                <li><a href="{% url 'main:buyback' %}">Выкуп часов</a></li>
                                <li><a href="{% url 'main:watches' %}">Продажа часов</a></li>
                                <li><a href="{% url 'main:valuation' %}">Оценка</a></li>
                                <li><a href="{% url 'utility_pages:faq' %}">Вопросы</a></li>
                                <li><a href="{% url 'utility_pages:contacts' %}">Контакты</a></li>
                                <li><a href="{% url 'utility_pages:about' %}">О нас</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget footer-widget">
                        <h4 class="widget_title">Остались вопросы? Напиши нам!</h4>
                        {% include "forms/footer_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="text-center col-lg-auto">
                    <p class="copyright-text">©2024, Часовой бутик «YellowWatch»</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <div class="social-style1">
                        <a href="https://t.me/ant_toys" title="telegram"><i class="fab fa-telegram-plane"></i>Telegram</a>
                        <a href="https://wa.me/+79608889293" title="whatsapp"><i class="fab fa-whatsapp"></i>Whatsapp</a>
                        <a href="https://www.instagram.com/rostovtsev_ant/" title="instagram"><i class="fab fa-instagram"></i>Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> <!-- Scroll To Top -->
<a class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>