<!--==============================
  Mobile Menu
============================== -->
<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
        <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="{% url 'main:index' %}"><img src="/assets/img/logo.svg" alt="Educino"></a>
        </div>
        <div class="vs-mobile-menu">
            <ul>
                <li>
                    <a href="{% url 'main:buyback' %}">Выкуп часов</a>
                </li>
                <li>
                    <a href="{% url 'main:watches' %}">Продажа часов</a>
                </li>
                <li>
                    <a href="{% url 'main:valuation' %}">Оценка</a>
                </li>
                <li>
                    <a href="{% url 'utility_pages:contacts' %}">Контакты</a>
                </li>
                <li>
                    <a href="{% url 'utility_pages:faq' %}">Вопросы</a>
                </li>
                <li>
                    <a href="{% url 'utility_pages:about' %}">О нас</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
  Popup Search Box
============================== -->
<div class="popup-search-box d-none d-lg-block  ">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="{% url 'main:search' %}" method="GET">
        <input type="text" class="border-theme" name="search" placeholder="Что Вас интересует?">
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div>
<!--==============================
  Header Area
==============================-->
{% with request.resolver_match.view_name as view_name %}
<div class="header-top">
    <div class="container">
        <div class="row justify-content-between align-items-center gx-50">
            <div class="col d-none d-xl-block">
                <div class="header-links">
                    <ul>
                        <li><i class="fas fa-phone-alt"></i>Телефон: <a href="tel:+79608889293">+7 (960) 888-92-93</a></li>
                        <li><i class="fas fa-envelope"></i>Почта: <a href="mailto:yellow.watch24@gmail.com">yellow.watch24@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-xl-auto d-none d-md-block">
            </div>
            <div class="col-md-auto text-center">
                <div class="header-social">
                    <a href="https://t.me/ant_toys" title="telegram"><i class="fab fa-telegram-plane"></i></a>
                    <a href="https://wa.me/+79608889293" title="whatsapp"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/rostovtsev_ant/" title="instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if view_name == 'main:index' %}
        <header class="vs-header header-layout3">
    {% else %}
        <header class="vs-header header-layout1">
    {% endif %}
    <div class="sticky-wrapper">
        <div class="sticky-active">
            <div class="container position-relative z-index-common">
                <div class="row align-items-center justify-content-between gx-50">
                    <div class="col">
                        <div class="vs-logo">
                            <a href="{% url 'main:index' %}"><img src="/assets/img/logo.svg" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu menu-style1 d-none d-lg-block">
                            <ul>
                                <li> <a href="{% url 'main:buyback' %}">Выкуп часов</a></li>
                                <li> <a href="{% url 'main:watches' %}">Продажа часов</a></li>
                                <li> <a href="{% url 'main:valuation' %}">Оценка</a></li>
                                <li> <a href="{% url 'utility_pages:contacts' %}">Контакты</a></li>
                                <li><a href="{% url 'utility_pages:faq' %}">Вопросы</a></li>
                                <li> <a href="{% url 'utility_pages:about' %}">О нас</a></li>
                            </ul>
                        </nav>
                        <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-btns">
                            <button type="button" class="searchBoxTggler"><i class="far fa-search"></i></button>
                            <button type="button" class="vs-btn style6" data-bs-toggle="modal" data-bs-target="#exampleModal1">Заказать звонок</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "modals/modal.html" %}
{% endwith %}
</header>
