<form action="#" class="form-style2">
    <div class="form-inner">
        <h3 class="form-title h5">Оставьте заявку и наши специалисты непременно свяжутся с Вами в ближайшее время.</h3>
        <div class="row">
            <div class="col-md-6 col-xl-12">
                <div class="form-group">
                    <input type="text" name="name" id="name" placeholder="Имя">
                </div>
            </div>
            <div class="col-md-6 col-xl-12">
                <div class="form-group">
                    <input type="text" name="email" id="phone" placeholder="Номер для связи">
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="vs-btn">Отправить</button>
                <a class="form-link" href="{% url 'main:faq' %}">Часто задаваемые вопросы</a>
            </div>
        </div>
    </div>
    <div class="vs-circle color2"></div>
</form>