<div class="col-md-6 col-xl-12">
    <div class="course-style4">
        <div class="course-img">
            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-3-1.jpg" alt="Course Img"></a>
        </div>
        <div class="course-content">
            <div class="course-category"><a href="course.html">Busniess Learning</a></div>
            <h3 class="course-name"><a href="course-details.html">Advance Begineer's Goal & Managing Quality Course</a></h3>
            <div class="course-meta">
                <a href="course.html"><i class="fas fa-user-tie"></i><span class="total-student">204 Students</span></a>
                <a href="course.html"><i class="far fa-tv"></i><span class="course-hour">12 Leson</span></a>
                <a href="course.html"><i class="fal fa-clock"></i><span class="course-hour">2h 11m</span></a>
            </div>
            <div class="course-price">
                <span class="price"><del>$259</del> $149</span>
                <small class="discount">50% Off</small>
            </div>
            <div class="course-bottom">
                <div class="course-author">
                    <a href="team-details.html" class="text-inherit"><img src="assets/img/about/author-3-1.png" alt="About Author">By Ana Watson</a>
                </div>
            </div>
            <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="vs-btn style5 popup-video"><i class="fas fa-play"></i>Preview Course</a>
        </div>
    </div>
</div>