<div class="col-md-6 col-xl-12">
    <div class="course-style4">
        <div class="course-img">
            <a href="course-details.html"><img class="w-100" src="assets/img/course/course-3-1.jpg" alt="Course Img"></a>
        </div>
        <div class="course-content">
            <div class="course-category"><a href="course.html">С пробегом</a></div>
            <h3 class="course-name"><a href="course-details.html">ROYAL OAK SELFWINDING 41 MM</a></h3>
            <div class="course-meta">
                <a><span class="total-student">Уточнить у менеджера</span></a>
                <a></i><span class="total-student">Референс: 15400OR.OO.D002CR.01</span></a>
            </div>
            <div class="course-price">
                <span class="price">35.500 $</span>
            </div>
            <div class="course-bottom">
                
            </div>
            <button type="button" class="vs-btn style2" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="fas fa-check"></i>Оставить запрос</button>
        </div>
    </div>
</div>