<div class="col-sm-6 col-xl-4">
    <div class="course-style1 has-border">
        <div class="course-img">
            <a href="{% url 'main:watches_details' %}"><img class="w-100" src="assets/img/course/course-1-1.png" alt="Course Img"></a>
            <div class="course-category">Новая модель</div>
            <button type="button" class="vs-btn style2" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="fas fa-check"></i>Оставить запрос</button>
        </div>
        <div class="course-content">
            <div class="course-top">
                <div class="course-review">В наличии<br>Референс: 116598SACO</div>
                <span class="course-price">74.000 $</span>
            </div>
            <h3 class="h5 course-name"><a href="{% url 'main:watches_details' %}" class="text-inherit">OYSTER DAYTONA SPECIAL EDITION LEOPARD</a></h3>
            <div class="course-teacher"><a class="text-inherit" href="{% url 'main:watches_details' %}">Rolex</a></div>
        </div>
    </div>
</div>