<!--==============================
    Modal
==============================-->
<!-- Short Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div>
            <div>
                {% include "forms/call_form.html" %}
            </div>
        </div>
    </div>
</div>
<!-- Extend Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div>
            <div>
                {% include "forms/extend_buyback_form_with_close_button.html" %}
            </div>
        </div>
    </div>
</div>
<!-- Short Watches Card Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div>
            <div>
                {% include "forms/watch_request.html" %}
            </div>
        </div>
    </div>
</div>