APScheduler==3.6.3
asgiref==3.8.1
cachetools==4.2.2
certifi==2024.2.2
Django==4.2
django-filter==24.2
django-phonenumber-field==7.3.0
django-phonenumbers==1.0.1
gunicorn==22.0.0
packaging==24.0
phonenumbers==8.13.36
pillow==10.3.0
python-dotenv==1.0.1
python-telegram-bot==13.7
pytz==2024.1
six==1.16.0
sqlparse==0.5.0
tornado==6.4
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
