{% extends "base.html" %}

{% block content %}
    <section class="hero-layout2  ">
        <div class="shape-mockup jump-img d-none d-xxxl-block" data-left="-260px" data-top="340px">
            <div class="vs-border-circle"></div>
        </div>
        <div class="shape-mockup jump-reverse d-none d-xxxl-block" data-right="9%" data-bottom="30%">
            <div class="shape-dotted"></div>
        </div>
        <div class="shape-mockup rotate d-none d-xxxl-block" data-left="49%" data-top="40%">
            <div class="vs-polygon1"></div>
        </div>
        <div class="shape-mockup jump d-none d-xxxl-block" data-left="46%" data-top="40%">
            <div class="vs-rounded1"></div>
        </div>
        <div class="container">
            <div class="row gx-50">
                <div class="col-lg-6 col-xl-5">
                    <div class="hero-content">
                        <h1 class="hero-title">Часовой бутик</h1>
                        <p class="hero-text">Место покупки и продажи элитных швейцарских часов.</p>
                        {% include "includes/short_form.html" %}
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 wow fadeInUp align-self-end" data-wow-delay="0.4s">
                    <div class="picture-box4">
                        <div class="img-1"><img src="/assets/img/about/about-3-2.png" alt="girl"></div>
                        <div class="vs-circle"></div>
                        <div class="media-style7">
                            <h3 class="media-title">Требуется оценка?</h3>
                            <p class="media-text">Заполните форму и мы непременно Вам ответим</p>
                            <button type="button" class="vs-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Заполнить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="space-bottom">
    </section>

    <!--==============================
    Work Process Area 
    ==============================-->
    <section class="space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <div class="title-area text-center text-lg-start">
                        <h2 class="sec-title h1">Почему стоит выбрать нас?</h2>
                    </div>
                    <div class="faq-style1">
                        <div class="accordion accordion-style2 wow fadeInUp" data-wow-delay="0.4s" id="faqVersion1">
                            <div class="accordion-item active">
                                <div class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="number">1</span>
                                        Экспертность и профессионализм
                                    </button>
                                </div>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Наша команда экспертов по часам готова помочь вам с выбором и ответить на все ваши вопросы.</p>
                                        <div class="list-style1 vs-list ">
                                            <ul>
                                                <li>Мы знаем все о наших часах</li>
                                                <li>Наша цель - сделать ваше путешествие в мир швейцарских часов не только приятным, но и информативным</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="number">2</span>
                                        Индивидуальный подход к каждому клиенту
                                    </button>
                                </div>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Мы ценим каждого клиента и стремимся обеспечить ему индивидуальное внимание и удовлетворить его уникальные потребности и требования.</p>
                                        <div class="list-style1 vs-list ">
                                            <ul>
                                                <li>Наш часовой бутик предлагает персонализированный сервис, призванный удовлетворить даже самые взыскательные вкусы</li>
                                                <li>Мы работаем над тем, чтобы каждый клиент чувствовал себя особенным</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingThree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="number">3</span>
                                        Безупречная репутация
                                    </button>
                                </div>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Наш бутик известен своей надежностью, честностью и профессионализмом. Мы имеем отличную репутацию среди клиентов и коллег в индустрии.</p>
                                        <div class="list-style1 vs-list ">
                                            <ul>
                                                <li>Наша репутация - это наш главный актив</li>
                                                <li>Мы гордимся тем, что предоставляем клиентам честные и прозрачные услуги, основанные на высоких стандартах интегритета и профессионализма</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        <span class="number">4</span>
                                        Широкий спектр услуг
                                    </button>
                                </div>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqVersion1">
                                    <div class="accordion-body">
                                        <p>Наш бутик предлагает полный спектр услуг, связанных с часовым делом, включая продажу, обслуживание, ремонт и оценку.</p>
                                        <div class="accordion-list">
                                            <div class="list-style1 vs-list ">
                                                <ul>
                                                    <li>От покупки уникальных часов до их тщательной оценки и профессионального ремонта - наш часовой бутик является вашим полным решением для всех потребностей в часах</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="picture-box3">
                        <div class="img-1 mega-hover">
                            <img src="/assets/img/about/about-3-1.jpg" alt="About Img">
                            <div class="shape-dotted jump"></div>
                        </div>
                        <div class="picture-content">
                            <div class="media-box1">
                                <h5 class="media-title">100+ Успешных сделок</h5>
                                <p class="media-text">Нам доверяют и мы не подводим</p>
                            </div>
                            <div class="media-box1 active">
                                <h5 class="media-title">6 лет</h5>
                                <p class="media-text">Работаем в интересах наших клиентов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==============================
      Course Area
    ==============================-->
    <section class="space-bottom">
        <div class="container">
            <div class="title-area text-center">
                <div class="sec-icon">
                    <div class="vs-circle"></div>
                </div>
                <span class="sec-subtitle"></span>
                <h2 class="sec-title h1">Витрина часов</h2>
            </div>
            <div class="vs-carousel row slide-course-big" data-fade="true" data-asnavfor=".slide-course-thumb" data-slide-show="1" data-lg-slide-show="2" data-md-slide-show="2">
                {% for watch in watches %}
                    {% include "includes/watches_indexpage_card.html" %}
                {% endfor %}
            </div>
            <div class="row vs-carousel wow fadeInUp slide-course-thumb" data-asnavfor=".slide-course-big" data-wow-delay="0.4s" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="2" data-focuson-select="true">
                <div class="col-auto">
                    <div class="course-style5">
                        <div class="course-img"><img class="w-100" src="/assets/img/course/course-3-1.png" alt="image"></div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="course-style5">
                        <div class="course-img"><img class="w-100" src="/assets/img/course/course-3-1.png" alt="image"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}