<form method="post" action="{% url 'main:valuation' %}" class="form-style5 modal-content" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Закрыть" style="position: absolute; top: 15px; right: 15px; background-color: transparent; border: none; font-size: 30px; padding: 20px;">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
    <div class="form-inner">
        <h3 class="form-title h3"><strong class="text-theme">Оставить заявку</strong></h3>
        <h3 class="form-text">Ваши контактные данные</h3>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_name"></label>
                    <input type="text" name="name" placeholder="Имя" maxlength="56" required id="id_name" value="{{ request.POST.name }}">
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_phone"></label>
                    <input type="tel" name="phone" placeholder="Номер для связи" required id="id_phone" value="{{ request.POST.phone }}">
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_communication_method"></label>
                    <select name="communication_method" id="id_communication_method">
                        <option selected hidden disabled>Предпочитаемый способ связи</option>
                        <option value="Звонок" {% if request.POST.communication_method == 'Звонок' %} selected {% endif %}>Звонок</option>
                        <option value="На почту" {% if request.POST.communication_method == 'На почту' %} selected {% endif %}>На почту</option>
                        <option value="Telegram" {% if request.POST.communication_method == 'Telegram' %} selected {% endif %}>Telegram</option>
                        <option value="WhatsUp" {% if request.POST.communication_method == 'WhatsUp' %} selected {% endif %}>WhatsUp</option>
                        <option value="Viber" {% if request.POST.communication_method == 'Viber' %} selected {% endif %}>Viber</option>
                      </select>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_email"></label>
                    <input type="email" name="email" placeholder="Почта" maxlength="255" required id="id_email" value="{{ request.POST.email }}">
                </div>
            </div>
        </div>
        <h3 class="form-text">Информация о часах</h3>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_brand"></label>
                    <input type="text" name="brand" placeholder="Бренд" maxlength="255" required id="id_brand" value="{{ request.POST.brand }}">
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_model"></label>
                    <input type="text" name="model" placeholder="Модель" maxlength="255" required id="id_model" value="{{ request.POST.model }}">
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_year"></label>
                    <input type="text" name="year" placeholder="Год покупки" maxlength="255" id="id_year" value="{{ request.POST.year }}">
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_price"></label>
                    <input type="text" name="price" placeholder="Желаемая сумма (руб.)" maxlength="255" id="id_price" value="{{ request.POST.price }}">
                </div>
            </div>
        </div>
        <h3 class="form-text">Состояние и комплектация</h3>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_condition"></label>
                    <select name="condition" id="id_condition">
                        <option selected hidden disabled>Состояние</option>
                        <option value="Идеальное" {% if request.POST.condition == 'Идеальное' %} selected {% endif %}>Идеальное</option>
                        <option value="Новое" {% if request.POST.condition == 'Новое' %} selected {% endif %}>Новое</option>
                        <option value="Естественные следы носки" {% if request.POST.condition == 'Естественные следы носки' %} selected {% endif %}>Естественные следы носки</option>
                        <option value="Есть дефекты" {% if request.POST.condition == 'Есть дефекты' %} selected {% endif %}>Есть дефекты</option>
                        <option value="Требуется ремонт" {% if request.POST.condition == 'Требуется ремонт' %} selected {% endif %}>Требуется ремонт</option>
                      </select>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <label for="id_equipment"></label>
                    <select name="equipment" id="id_equipment">
                        <option selected hidden disabled>Комплектация</option>
                        <option value="С упаковкой" {% if request.POST.equipment == 'С упаковкой' %} selected {% endif %}>С упаковкой</option>
                        <option value="Без упаковки" {% if request.POST.equipment == 'Без упаковки' %} selected {% endif %}>Без упаковки</option>
                      </select>
                </div>
            </div>
        </div>
        <style>
            .custom-file-input {
                padding: 15px;
            }
            .custom-file-input::-webkit-file-upload-button {
                display: none;
            }
        </style>
        <h3 class="form-text">Изображения часов и их документов</h3>
        <div class="row">
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <input class="custom-file-input" type="file" name="valuation_images" multiple accept="image/*" id="id_valuation_images" />
                    <div class="col text-center">
                        <p> </p>
                        <p class="form-text">Загрузите хотя бы одно, но не более трёх<br>Возможные форматы: png, jpg, jpeg, heic, heiv</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="form-group">
                    <textarea style="border-radius: 20px;" type="text" name="text" id="id_text" placeholder="Сообщение" value="{{ request.POST.text }}"></textarea>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="vs-btn">Отправить</button>
        </div>
        <div class="col-12 text-center">
            <div class="custom-checkbox notice">
                <label for="wp-comment-cookies-consent"> Нажимая кнопку «Отправить», Вы соглашаетесь с <a href="{% url 'utility_pages:confidential' %}">политикой конфиденциальности</a> и <a href="{% url 'utility_pages:terms' %}">пользовательским соглашением</a>.</label>
            </div>
            <a class="form-link" href="{% url 'utility_pages:faq' %}">Часто задаваемые вопросы</a>
        </div>
    </div>
    <div class="vs-circle color2"></div>
</form>