<form method="post" action="{% url 'forms:footer_form' %}" class="form-style2">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name"></label>
        <input type="text" name="name" placeholder="Имя*" maxlength="56" required id="id_name" value="{{ request.POST.name }}">
    </div>
    <div class="form-group">
        <label for="id_phone"></label>
        <input type="text" name="phone" placeholder="Телефон*" maxlength="56" required id="id_phone" value="{{ request.POST.phone }}">
    </div>
    <div class="form-group">
        <label for="id_text"></label>
        <input type="text" name="text" placeholder="Ваше сообщение" maxlength="255" required id="id_text" value="{{ request.POST.text }}">
    </div>
    <button type="submit" class="vs-btn">Отправить</button>
</form>