<form method="post" action="{% url 'forms:short_index' %}" class="form-style3">
    {% csrf_token %}
    <div class="form-inner">
        <h5 class="form-text text-center">Оставьте заявку и наши специалисты непременно свяжутся с Вами в ближайшее время.</h3>
    </div>
    <div class="form-group">
        <label for="id_name"></label>
        <input type="text" name="name" placeholder="Имя*" maxlength="56" required id="id_name" value="{{ request.POST.name }}">
    </div>
    <div class="form-group">
        <label for="id_phone"></label>
        <input type="text" name="phone" placeholder="Телефон*" maxlength="56" required id="id_phone" value="{{ request.POST.phone }}">
    </div>
    <div class="form-group">
        <label for="id_text"></label>
        <input type="text" name="text" placeholder="Ваше сообщение" maxlength="56" required id="id_text" value="{{ request.POST.text }}">
    </div>
    <div class="form-btn">
        <button type="submit" class="vs-btn">Отправить</button>
    </div>
</form>